
    body {
      background-color: #c4bcbc; /* cinza claro */
      color: #462222; /* cor padrão do texto */
      font-family: Arial, sans-serif;
    }

      a:hover {
      color: #db6e2b; /* laranja */
      text-decoration: underline;
    }

    