
    body {
      background-color: #d83232; /* cinza claro */
      color: #462222; /* cor padrão do texto */
      font-family: Arial, sans-serif;
    }

      a:hover {
      color: #857870; /* laranja */
      text-decoration: underline;
    }

    